:root {
  --black: 
rgba(0, 0, 0, 1);
  --color-background-bold: 
rgba(8, 8, 8, 1);
  --color-background: 
rgba(19, 19, 19, 1);
  --color-background-secondary: 
rgba(35, 35, 35, 1);
  --color-secondary: 
rgba(115, 115, 115, 1);
  --color-primary: 
rgba(255, 77, 77, 1);
  --color-foreground: 
rgba(255, 255, 255, 1);

  --font-size-xs: 8px;
  --font-size-xxl: 14px;
  --font-size-xxl: 16px;
  --font-size-s2: 10px;
  --font-size-m2: 11px;
  --font-size-l2: 12px;
  --font-size-xl2: 15px;
  --font-size-xxxl2: 17px;
  --font-size-headline-mobile: 40px;
  --font-size-headline-tablet: 50px;
  --font-size-headline-desktop: 80px;

  --font-headlines: "Anton";
  --font-family-anton-regular: "Anton-Regular";
  --font-icons: "icons-pack-Regular";
  --font-text: "Work Sans";
  --font-family-work_sans-extrabold: "Work Sans-ExtraBold";
  --font-family-work_sans-light: "Work Sans-Light";
  --font-family-work_sans-medium: "Work Sans-Medium";
  --font-family-work_sans-regular: "Work Sans-Regular";
}



.headline-tablet {
  font-family: var(--font-headlines);
  font-size: var(--font-size-headline-tablet);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.text-small {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-s2);
  font-weight: 300;
  font-style: normal;
}
.text-extra-small {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}
.subtitle-tablet2 {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xxxl2);
  font-weight: 500;
  font-style: normal;
}
.subtitle-tablet {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  font-style: normal;
}
.text-medium-primary {
  color: var(--color-primary);
  font-family: var(--font-text);
  font-size: var(--font-size-m2);
  font-weight: 300;
  font-style: normal;
}
.worksans-medium-white-16px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  font-style: normal;
}
.headline---tablet-50px {
  font-family: var(--font-family-anton-regular);
  font-size: var(--font-size-headline-tablet);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.worksans-medium-white-17px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-medium);
  font-size: var(--font-size-xxxl2);
  font-weight: 500;
  font-style: normal;
}
.worksans-normal-white-10px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.worksans-regular-normal-white-12px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-regular);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.headline---mobile-40px {
  font-family: var(--font-family-anton-regular);
  font-size: var(--font-size-headline-mobile);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.worksans-light-rose-11px {
  color: var(--color-primary);
  font-family: var(--font-family-work_sans-light);
  font-size: var(--font-size-m2);
  font-weight: 300;
  font-style: normal;
}
.subtitle-desktop {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}
.icons-pack-regular-normal-white-18px {
  color: var(--color-foreground);
  font-family: var(--font-icons);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
.text-small2 {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.btn-border {
  border-width: 0.8px;
  border-style: solid;
  border-color: var(--color-foreground);
}
.worksans-light-white-11px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-m2);
  font-weight: 300;
  font-style: normal;
}
.text-large {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.worksans-normal-white-14px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
}
.headline-desktop {
  font-family: var(--font-headlines);
  font-size: var(--font-size-headline-desktop);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.worksans-medium-white-20px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-medium);
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}
.headline---tablet-50px {
  font-family: var(--font-headlines);
  font-size: var(--font-size-headline-tablet);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.worksans-light-white-10px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-light);
  font-size: var(--font-size-s2);
  font-weight: 300;
  font-style: normal;
}
.worksans-medium-white-16px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}
.headline---desktop-80px {
  font-family: var(--font-headlines);
  font-size: var(--font-size-headline-desktop);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.text-extra-large {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xl2);
  font-weight: 300;
  font-style: normal;
}
.worksans-light-white-15px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-light);
  font-size: var(--font-size-xl2);
  font-weight: 300;
  font-style: normal;
}
.icons-medium {
  color: var(--color-foreground);
  font-family: var(--font-icons);
  font-size: var(--font-size-xxxl2);
  font-weight: 400;
  font-style: normal;
}
.worksans-light-white-15px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xl2);
  font-weight: 300;
  font-style: normal;
}
.headline-mobile {
  font-family: var(--font-headlines);
  font-size: var(--font-size-headline-mobile);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.worksans-medium-white-20px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
}
.worksans-regular-normal-white-8px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}
.headline---desktop-80px {
  font-family: var(--font-family-anton-regular);
  font-size: var(--font-size-headline-desktop);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.text-medium {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-m2);
  font-weight: 300;
  font-style: normal;
}
.worksans-light-white-11px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-light);
  font-size: var(--font-size-m2);
  font-weight: 300;
  font-style: normal;
}
.icons-small {
  color: var(--color-foreground);
  font-family: var(--font-icons);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}
.icons-pack-regular-normal-white-14px {
  color: var(--color-foreground);
  font-family: var(--font-icons);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  font-style: normal;
}
.icons-pack-regular-normal-white-17px {
  color: var(--color-foreground);
  font-family: var(--font-icons);
  font-size: var(--font-size-xxxl2);
  font-weight: 400;
  font-style: normal;
}
.headline---mobile-40px {
  font-family: var(--font-headlines);
  font-size: var(--font-size-headline-mobile);
  letter-spacing: 0px;
  font-weight: 400;
  font-style: normal;
}
.worksans-normal-white-12px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}
.worksans-regular-normal-white-10px {
  color: var(--color-foreground);
  font-family: var(--font-family-work_sans-regular);
  font-size: var(--font-size-s2);
  font-weight: 400;
  font-style: normal;
}
.primary-btn-border {
  border-width: 0.8px;
  border-style: solid;
  border-color: var(--color-primary);
}
.icons-large {
  color: var(--color-foreground);
  font-family: var(--font-icons);
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}
.worksans-light-white-10px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-s2);
  font-weight: 300;
  font-style: normal;
}
.worksans-medium-white-17px {
  color: var(--color-foreground);
  font-family: var(--font-text);
  font-size: var(--font-size-xxxl2);
  font-weight: 500;
  font-style: normal;
}
